:root {
  --yellow: hsl(52, 96%, 64%);
  --purple: hsl(270, 47%, 30%);
}

/* Navbar */

.navbar {
  background-color: var(--yellow);
  margin-top: 0.5rem;
  box-shadow: 10px 10px 1px var(--purple);
  width: 90%;
}

.nav-logo {
  height: 40px;
  width: 40px;
}

@media (min-width: 768px) {
  .nav-logo {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    height: 100px;
    width: 100px;
  }
}

.nav-text {
  font-size: 16px;
  text-align: center;
  justify-content: center;
  font-family: "Press Start 2P", sans-serif;
}

@media (min-width: 768px) {
  .nav-text {
    font-size: 32px;
  }
}

@media (min-wdith: 1024px) {
  .nav-text {
    font-size: 36px;
  }
}

/* Request Emoji */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.update-logs {
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.4rem;
  box-shadow: 3px 3px 1px var(--yellow);
}

.update-img {
  height: 50px;
  width: 100px;
}

.request-emoji {
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.4rem;
  box-shadow: 3px 3px 1px var(--yellow);
}

.request-img {
  height: 50px;
  width: 100px;
}

.report-bug {
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.4rem;
  box-shadow: 3px 3px 1px var(--yellow);
}

.report-img {
  height: 50px;
  width: 100px;
}

@media (min-width: 768px) {
  .update-logs {
    height: 100px;
    width: 220px;
  }

  .update-img {
    height: 100px;
    width: 220px;
  }

  .request-emoji {
    height: 100px;
    width: 220px;
  }

  .request-img {
    height: 100px;
    width: 220px;
  }

  .report-bug {
    height: 100px;
    width: 220px;
  }

  .report-img {
    height: 100px;
    width: 220px;
  }
}

@media (min-width: 1024px) {
  .update-logs {
    height: 140px;
    width: 310px;
  }

  .update-img {
    height: 140px;
    width: 310px;
  }

  .request-emoji {
    height: 140px;
    width: 310px;
  }

  .request-img {
    height: 140px;
    width: 310px;
  }

  .report-bug {
    height: 140px;
    width: 310px;
  }

  .report-img {
    height: 140px;
    width: 310px;
  }
}
