:root {
  --yellow: hsl(52, 96%, 64%);
  --purple: hsl(270, 47%, 30%);
}

/* Navbar */

.navbar {
  background-color: var(--yellow);
  margin-top: 0.5rem;
  box-shadow: 10px 10px 1px var(--purple);
  width: 90%;
  opacity: 0;
  animation: fadein 1s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-logo {
  height: 40px;
  width: 40px;
}

@media (min-width: 768px) {
  .nav-logo {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    height: 100px;
    width: 100px;
  }
}

.nav-text {
  font-size: 16px;
  text-align: center;
  justify-content: center;
  font-family: "Press Start 2P", sans-serif;
}

@media (min-width: 768px) {
  .nav-text {
    font-size: 32px;
  }
}

@media (min-wdith: 1024px) {
  .nav-text {
    font-size: 36px;
  }
}

/* Request Emoji, Update logs, Report Bug */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadein 1s forwards;
}

.update-logs {
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.4rem;
  box-shadow: 3px 3px 1px var(--yellow);
}

.update-img {
  height: 50px;
  width: 100px;
}

.request-emoji {
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.4rem;
  box-shadow: 3px 3px 1px var(--yellow);
}

.request-img {
  height: 50px;
  width: 100px;
}

.report-bug {
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  margin-left: 0.4rem;
  box-shadow: 3px 3px 1px var(--yellow);
}

.report-img {
  height: 50px;
  width: 100px;
}

@media (min-width: 425px) {
  .update-logs {
    height: 70px;
    width: 120px;
  }

  .update-img {
    height: 70px;
    width: 120px;
  }

  .request-emoji {
    height: 70px;
    width: 120px;
  }

  .request-img {
    height: 70px;
    width: 120px;
  }

  .report-bug {
    height: 70px;
    width: 120px;
  }

  .report-img {
    height: 70px;
    width: 120px;
  }
}

@media (min-width: 768px) {
  .update-logs {
    height: 100px;
    width: 220px;
  }

  .update-img {
    height: 100px;
    width: 220px;
  }

  .request-emoji {
    height: 100px;
    width: 220px;
  }

  .request-img {
    height: 100px;
    width: 220px;
  }

  .report-bug {
    height: 100px;
    width: 220px;
  }

  .report-img {
    height: 100px;
    width: 220px;
  }
}

@media (min-width: 1024px) {
  .update-logs {
    height: 140px;
    width: 310px;
  }

  .update-img {
    height: 140px;
    width: 310px;
  }

  .request-emoji {
    height: 140px;
    width: 310px;
  }

  .request-img {
    height: 140px;
    width: 310px;
  }

  .report-bug {
    height: 140px;
    width: 310px;
  }

  .report-img {
    height: 140px;
    width: 310px;
  }
}

/* description */

.description {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  animation: fadein 1s forwards;
}

/* Emojis */

.face-emoji-table {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin-top: 0.5rem;
  animation: fadein 0.5s forwards;
}

.box {
  background-color: white;
  height: 30px;
  width: 30px;
  display: inline-block;
  flex-wrap: wrap;
  margin: 0.2rem;
  box-shadow: 2px 2px 2px 2px var(--yellow);
  animation: fadein 0.5s forwards;
}

p.emoji {
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.3rem;
  animation: fadein 2s forwards;
}

@media (min-width: 768px) {
  p.emoji {
    font-size: 2rem;
  }

  .box {
    height: 60px;
    width: 60px;
  }
}

h1 {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}
